.index-container{
    width: 2.19rem;
    height: 3.28rem;
    perspective:1000;
    transform-style:preserve-3d;
}
// .index-container:hover .index-wrap{
//     transform:rotateY(180deg)
// }
.index-wrap{
    width: 2.19rem;
    height: 3.28rem;
    position:relative;
    transition:0.6s;
    transform-style:preserve-3d;
}
.index-data-wrap-front,.index-data-wrap-back{
    width: 2.19rem;
    height: 3.28rem;
    border-radius: 0.27rem;
    position:absolute;
    left:0;
    top:0;
    box-shadow: 0rem 0.04rem 0.13rem 0.09rem rgba(212,210,210,0.5);
    backface-visibility:hidden;
}
/*旋转动画*/
.index-open-card {
    -o-animation: openCard 0.4s 0s linear forwards;
    -ms-animation: openCard 0.4s 0s linear forwards;
    -moz-animation: openCard 0.4s 0s linear forwards;
    -webkit-animation: openCard 0.4s 0s linear forwards;
    animation: openCard 0.2s 0s linear forwards
}
@keyframes openCard {
    10%,
    20%,
    40%,
    60% {
    }
    100% {
        -o-transform:  translateX(180deg);
        -ms-transform:  translateX(180deg);
        -moz-transform:  translateX(180deg);
        -webkit-transform:  translateX(180deg);
        transform:rotateY(180deg)
    }
}
.index-open-card .index-data-wrap-back{
    z-index: 2;
    transform:rotateY(-180deg)
}
/*旋转动画*/
.index-open-card1 {
    -o-animation: openCard 0.4s 0s linear forwards;
    -ms-animation: openCard 0.4s 0s linear forwards;
    -moz-animation: openCard 0.4s 0s linear forwards;
    -webkit-animation: openCard 0.4s 0s linear forwards;
    animation: openCard1 0.2s 0s linear forwards
}
.index-open-card1 .index-data-wrap-front{
    transform:rotateY(-180deg);
    z-index:2
}
@keyframes openCard1 {
    10%,
    20%,
    40%,
    60% {
    }
    100% {
         -o-transform:  translateX(180deg);
        -ms-transform:  translateX(180deg);
        -moz-transform:  translateX(180deg);
        -webkit-transform:  translateX(180deg);
        transform:rotateY(180deg)
    }
}